/* btns */
@keyframes slide {
  to {
    color: white;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 120%;
  }
}

@keyframes grd {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.button2::after,
.button3::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;

  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
}

.button2:hover::after,
.button3:hover::after {
  left: 120%;
  animation: shine 1.5s infinite;
}

.button1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: #1D1D1D;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;

  z-index: -1;
}

.button1:hover::before {
  transform: scaleY(1);
}

.button1:hover {
  animation: slide 0.8s ease forwards;
}

.tocatalog a:hover {
  background-color: #cfff93; 
}

.button1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: #1D1D1D;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;

  z-index: -1;
}

.button1:hover::before {
  transform: scaleY(1);
}

.button1:hover {
  animation: slide 0.8s ease forwards;
}

.cv1:hover {
  background: linear-gradient(to right, #AFFF50, #c7ff82, #d8ffa8);
  background-size: 600% 600%;
  animation: grd 2s ease infinite;
}

.cv2:hover {
  background: linear-gradient(to right, #D4D4D4, #a3a3a3, #868686);
  background-size: 600% 600%;
  animation: grd 2s ease infinite;
}

.gisbtn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: #d1ff99;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;

  z-index: -1;
}

.gisbtn:hover::before {
  transform: scaleY(1);
}