@font-face {
  font-family: manrope;
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: chinyen;
  src: url(../fonts/ofont.ru_Chinyen.ttf);
}

@font-face {
  font-family: pxel;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
  margin: 0 auto;
  background-color: #1D1D1D;
  max-width: 1280px;

  color: #ffffff;
  font-family: manrope;

  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

.green {
  color: #AFFF50;
}




nav:not(.phonemenu) {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000px;
}

.nav-container {
  max-width: 1280px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 100px;
  backdrop-filter: blur(5px);
  padding: 0 20px;

  z-index: 1000;
}

.logo-btn img {
  width: 196px;
}

.nav-container ul {
  display: flex;
  justify-content: end;
  gap: 30px;
  list-style: none;
}

.button1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #AFFF50;
  color: #1D1D1D;

  font-size: 20px;

  width: 213px;
  height: 57px;
  border-radius: 50px;

  overflow: hidden;
  position: relative;
  z-index: 1;
}

.button2,
.button3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: #1D1D1D;

  font-size: 20px;

  width: 213px;
  height: 57px;
  border-radius: 50px;

  overflow: hidden;
  position: relative;
  z-index: 1;
}


/* phone menu */
.phonemenu {
  position: fixed;
  top: 0;
  margin-top: 15px;
  display: none;

  width: 100%;
  z-index: 1000;
}

.phonemenu-container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;

  backdrop-filter: blur(20px);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40px;
}

.phonemenu ul {
  list-style: none;
  display: flex;
  gap: 5px;

  margin: 0;
  padding: 0;
}

.logophone {
  height: 40px;
  padding: 5px 10px;
  background-color: #1D1D1D;
  border-radius: 40px;
}

.phonemenu img:not(.logophone) {
  width: 30px;
  background-color: #1D1D1D;
  border-radius: 100%;
  padding: 10px 10px;
}




/* первый слайд */

.familypak {
  font-weight: bold;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 0.6;

  background-color: #1D1D1D;
  border-radius: 40px;
  padding: 20px 20px;
  width: fit-content;

  margin-top: 350px;
}

.familypak p {
  margin: 0;
}

.small1 {
  font-size: clamp(20px, 5vw, 36px);
}

/*for familypak*/

.coreansg {
  font-family: chinyen;
}

.backtext1 {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.backtext1 p {
  text-align: center;
  font-size: clamp(10px, 2vw, 16px);
  font-family: pxel;
}

/* buttons to catalog */
.tocatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 50px;
}

.tocatalog a {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-family: pxel;
  font-size: clamp(10px, 1vw, 16px);
  color: #1D1D1D;

  width: fit-content;
  background-color: #AFFF50;
  border-radius: 100px;
  padding: 5px 25px;
}

.tocatalog p {
  text-align: center;
  font-size: clamp(12px, 2vw, 24px);
  line-height: 0.8;

  background-color: #1D1D1D;
  border-radius: 100px;
  width: fit-content;
  padding: 5px 25px;
}





/* cards block (info + contacts)*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 50px;

  margin-top: 250px;
}

.card-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.card {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 100%;
  height: 180px;
  max-width: 320px;
  border-radius: 40px;
}

.card-name {
  font-size: clamp(20px, 2vw, 24px);
}

.card p {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

/* numbers cards */
.one {
  background-image: url(../img/cooking-background.png);
}

.two {
  background-image: url(../img/delivery-background.png);
}

.three {
  background-image: url(../img/price-background.png);
}

.four {
  background-image: url(../img/contacts-background.png);
}

.four-end {
  font-size: 16px;
  font-family: sans-serif;
}

.five {
  background-image: url(../img/call-background.png);
}

.six {
  background-image: url(../img/map-background.png);
}



/* katalog prew */
.prew {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 250px;
}

.catalog p {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #1D1D1D;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 0.9;

  background-color: #AFFF50;
  border-radius: 40px;
  padding: 10px 25px;
}

.catalog span {
  font-family: sans-serif;
  color: #5E5E5E;
  font-size: clamp(10px, 5vw, 24px);
}

.catalogright p {
  font-size: clamp(10px, 5vw, 32px);
  line-height: 0.7;

  background-color: #1D1D1D;
  border-radius: 40px;
  padding: 10px 25px;
}

.small3 {
  font-size: clamp(16px, 5vw, 24px);
  font-family: sans-serif;
}

/* for catalogright p */


/* CATALOG */

#catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 50px;
}


/* sl = sl1, sl2 ...  / name = 1 line */
.sl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  background-color: #1D1D1D;
  border-radius: 40px;
  padding: 15px 25px;
}

.sl img {
  max-width: 200px;
}

.sl span:not(.sxl2line) {
  font-size: clamp(16px, 2vw, 20px);

  background-color: #2C2C2C;
  border-radius: 15px;
  padding: 15px 35px;
}

/* sxl = name 2 line */
.sxl {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 0.9;
  text-align: center;
  margin: 0;

  background-color: #2C2C2C;
  border-radius: 15px;
  padding: 10px 35px;
}

.sxl2line {
  color: #AFFF50;
}




/* contact block */
.contacts {
  margin-top: 100px;
}

.h2-container-for-phone {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: bold;
  font-size: clamp(24px, 5vw, 48px);

  background-color: #1D1D1D;
  border-radius: 40px;
  padding: 20px 20px;
  width: fit-content;

  margin-top: 250px;
}


/* contacts buttons */
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: clamp(20px, 2vw, 24px);
  padding: 5px 55px;
  height: 50px;
  width: 100%;
  max-width: 170px;
  border-radius: 100px;
}

.whatsapp {
  background-color: #AFFF50;
  color: #1D1D1D;
}

.call {
  background-color: #1D1D1D;
}

.openmap {
  background-color: #D7D7D7;
  color: #1D1D1D;
}



/* feedback block */
.contact-buttons-phone {
  display: none;
  justify-content: center;
  gap: 30px;

  margin-top: 50px;

  -webkit-tap-highlight-color: transparent;
}

.contact-buttons-phone img {
  max-width: 50px;
}

.contact-buttons-phone a {
  backdrop-filter: blur(10px);

  padding: 5px 25px;
  border: 1px outset #ffffff67;
  border-radius: 40px;
}



#feedback {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  margin-top: 200px;
}

.feedback-content iframe {
  border-radius: 40px;
}

.feedback-map iframe {
  border-radius: 40px;
  filter: invert(100%) hue-rotate(290deg);
}



/* footer */
footer {
  display: flex;
  justify-content: center;

  margin-top: 100px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background-color: #1D1D1D;
  width: 100vw;
}

footer p {
  text-align: center;
  font-size: clamp(16px, 3vw, 20px);
}