@media (max-width: 1279px) {
    nav:not(.phonemenu) {
        display: none;
    }

    .phonemenu {
        display: flex;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px outset #ffffff56;
        border-radius: 40px;
    }

    .catalogright p {
        padding: 10px 0;
    }

    .catalog {
        text-align: center;
    }

    .catalogright p {
        background: none;
    }

    .stages {
        justify-content: center;
    }

    .stageleft {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: none;
    }

    .psecureph {
        display: flex;
    }

    /* hover */
    .cv2:hover {
        background-color: #D4D4D4;
        animation: none;
    }

    .cv1:hover {
        background-color: #AFFF50;
        animation: none;
    }

    .gisbtn::before {
        display: none;
    }

    .tocatalog a:hover {
        background-color: #AFFF50;
    }
}