@media (max-width: 865px) {

    /* help classes */
    .disable {
        display: none;
    }

    nav:not(.phonemenu) {
        display: none;
    }

    .phonemenu {
        display: flex;
    }

    /* textmain */
    .tocatalog {
        gap: 5px;
    }

    .tocatalog p {
        padding: 5px 5px;
    }

    .tocatalog a {
        height: 25px;
        white-space: nowrap;
        padding: 5px 5px;
    }

    .wenot p {
        margin-top: 199px;
    }

    .prew {
        flex-direction: column;
        align-items: start;
    }

    .catalogright p {
        margin-top: -20px;
        padding: 10px 25px;
    }

    /* salads */
    #catalog {
        gap: 5px;
    }

    .sl {
        padding: 5px 15px;
        width: 150px;
        height: 200px;

    }

    .sl img {
        max-width: 130px;
    }

    .sl span:not(.sxl2line) {
        font-size: clamp(16px, 2vw, 20px);
        padding: 3px 15px;
    }

    .sxl {
        font-size: clamp(16px, 2vw, 20px);
        padding: 0px 15px;
    }



    /* contact */

    .stage {
        width: 250px;
    }

    /* футер */
    .worktime {
        border: 1px solid #ffffff;
        border-radius: 25px;
    }

    .contactsfooter span {
        font-size: clamp(16px, 2vw, 24px);
    }
    .stageleft {
        padding: 15px 25px;
    }
}